<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<style>
    table {
        margin: 20px auto;
        border-collapse: collapse;
    }
    th,
    td {
        padding: 5px 10px;
    }
    td {
        border: 1px solid #000;
        text-align: center;
    }
</style>

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Year of Birth</th>
    </tr>
        <tr th:each="user : ${users}">
            <td th:text="${user.getId()}"></td>
            <td th:text="${user.getName()}"></td>
            <td th:text="${user.getSurname()}"></td>
            <td th:text="${user.getYearOfBirth()}"></td>
        </tr>
</table>

</body>
</html>